version: "3.7"

services:
  db:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - "./setup.sql:/docker-entrypoint-initdb.d/setup.sql"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: P@ssw0rd
      MYSQL_DATABASE: marketplace_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin_password

  integrations_api:
    image: dimitgab/integrations-api
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - 8080:8080
    restart: always

volumes:
  db_data: {}